// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  text-align: center;
  width: 100%;
}
#main-content{
  display: block;
  text-align: center;
  background-color: rgb(252, 252, 252);
  padding: 2em;
  width: 500px;
}

.post-box{
  margin-bottom: 2em;
  background-color: white;
  display: block;
  height: auto;
  width: 350px;
  padding: 20px;
  border: 1px solid;
  border-color: rgb(238, 238, 238);
}

.post-text-box{
  display: block;
  text-align: left;
}

ul {
  list-style-type:none;
}

.post-text-box p{
  margin-left: 10px;
}

.comment-content{
  clear: left;
  display: block;
  width: 300px;
  margin-left: -35px;
  padding: 5px;
}

