// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  text-align: center;
  width: 100%;

}

#main-content-container{
  display: block;
  width: 100%;
}
#main-content{
  display: block;
  position: relative;
  text-align: center;
  background-color: rgb(224, 225, 226);
  padding: 2em;
  width: 800px;
  margin-left: 20%;
}

.post-box{
  margin-bottom: 2em;
  background-color: white;
  display: block;
  height: auto;
  width: 740px;
  padding-top: 40px;
  border: 1px solid rgb(238, 238, 238);
  margin-left: -40px;
}

.post-text-box{
  display: block;
  text-align: left;
}

ul {
  list-style-type:none;
}

.post-text-box p{
  margin-left: 50px;
}

.email{
  color: rgb(67, 112, 149);
}
.comment-content{
  clear: left;
  display: block;
  width: 740px;
}

.comment_list{
  border-top: 1px solid rgb(238, 238, 238);
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: rgb(252, 252, 252);
}

